<div id="card" class="card" onclick="flipcard()">
	<div  class="card-front">
		<h1>Hello world!</h1>
		
		<p>Hello from <code>{{nodeName}}</code></p>
	</div>
	<div class="card-back">
		back
	</div>

</div>